* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: OpenSans, Arial, sans-serif;
}

@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: normal;
}


.header {
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url(../images/desk/banner-bg.jpg);
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    position: relative;
    z-index: 0;
}

.header-wrapper {
    width: 100%;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.header::after {
    content: "";
    opacity: 0.6;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    position: absolute;
    z-index: -1;
}

.header-wrapper-top {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 179px;
}

.logo-mobile-link {
    display: none;
}

.title {
    max-width: 687px;
    padding: 120px 0 147px;
    text-align: center;
    font-size: 45px;
    margin: 0 auto;
    line-height: 1.6;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}

.menu-list {
    list-style: none;
    display: flex;
}

.menu-item:nth-child(n + 2) {
    margin-left: 35px;
}

.menu-link {
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.menu-link:hover {
    text-decoration: underline;
}

.menu-button {
    display: none;
}

.popup {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    z-index: 5;
}

.popup-container {
    display: flex;
    flex-direction: column;
    max-width: 390px;
    min-height: 590px;
    padding: 55px 30px 55px 30px;
    margin: auto;
    background-color: #fff;
    position: relative;
}

.popup-title {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}

.popup-title::after {
    content: "";
    display: block;
    position: relative;
    width: 67px;
    height: 4px;
    margin: 14px auto 32px auto;
    background: #b59f5b;
    opacity: 0.4;
}

.popup-form {
    font-size: 13px;
}

.top-group-field {
    width: 100%;
    height: 50px;
    padding-left: 18px;
    padding-right: 18px;
    margin-top: 12px;
    margin-bottom: 35px;
    font-size: 13px;
    background-color: #f4f7f6;
    border: none;
    background-image: url(../svg/form-arrows.svg);
    background-repeat: no-repeat;
    background-position: right 14px center;
    background-size: 9px 17px;
}

.popup-form-radio {
    display: block;
}

.popup-radio-label {
    margin-bottom: 10px;
}

.radio {
    display: none;
}

.radio-text {
    margin-right: 12px;
}

.radio-text::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../svg/form-empty-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
    margin-right: 5px;
    margin-top: -3px;
    vertical-align: middle;
}

.radio:checked+.radio-text::before {
    background-image: url(../svg/form-circle.svg);
}

.popup-form-opinion {
    padding-top: 20px;
}

.popup-opinion-field {
    padding-top: 20px;
    border: none;
    background-color: #f4f7f6;
    resize: none;
    width: 100%;
    height: 130px;
    margin-top: 12px;
    padding-left: 18px;
    padding-right: 18px;
}

.popup-button {
    width: 100%;
    height: 50px;
    margin-top: 27px;
    font-size: 14px;
    font-weight: bold;
    background-color: #b59f5b;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
}


.popup__close {
    font-size: 20px;
    width: 18px;
    height: 18px;
    position: absolute;
    background-image: url(../svg/form-x.svg);
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    right: 0;
    top: -25px;
}

.hidden {
    display: none;
}

.trends-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.post-trend {
    font-size: 20px;
    color: #0f0d0e;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.post-trend::after {
    content: "";
    display: block;
    position: relative;
    width: 67px;
    height: 4px;
    margin: 14px auto 29px auto;
    background: #b59f5b;
    opacity: 0.4;
}

.trends {
    display: flex;
}

.trend-card {
    width: 25%;
    min-height: 320px;
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: 0;
}

.trend-card::after {
    content: "";
    opacity: 0.6;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    position: absolute;
    z-index: -1;
}

.trend-card__one {
    width: 100%;
    background-image: url(../images/trend/trend1.jpg);
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-right: 4px;
}

.trend-card__two {
    width: 100%;
    background-image: url(../images/trend/trend2.jpg);
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-right: 4px;
}

.trend-card__three {
    width: 100%;
    background-image: url(../images/trend/trend3.jpg);
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-right: 4px;
}

.trend-card__four {
    width: 100%;
    background-image: url(../images/trend/trend4.jpg);
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.trend-text {
    border: 3px solid #b59f5b;
    padding: 15px 15px 0 15px;
    margin: 20px;
}

.trend-list {
    list-style-type: none;
    display: flex;
}

.trend-list-item:nth-child(n + 2) {
    margin-left: 20px;
}

.link-item {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #b59f5b;
}

.trend-title {
    margin-bottom: 20px;
}

.trend-title-link {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}



.page {
    margin-top: 63px;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    margin-top: 63px;
}

.content-posts {
    max-width: 783px;
}

.post {
    display: flex;
}

.post:not(:last-child) {
    margin-bottom: 59px;
}

.post-image {
    object-fit: cover;
}

.post-text {
    margin-left: 30px;
}

.post-tag {
    list-style-type: none;
    display: flex;
    margin-bottom: 15px;
}

.post-tag-item:nth-child(n + 2) {
    margin-left: 20px;
}

.post-tag-link {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #b59f5b;
}

.post-tag-link:hover {
    text-decoration: underline;
    color: #b59f5b;

}

.post-description {
    margin-bottom: 37px;
}

.post-title {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

.post-title-link {
    text-decoration: none;
    color: #0f0d0e;
    font-weight: bold;
    text-transform: uppercase;
}

.post-title-link:hover {
    color: #b59f5b;
}

.post-meta {
    margin-bottom: 55px;
}

.data {
    font-size: 12px;
    color: #888888;
    margin-right: 15px;
}

.autor {
    font-size: 12px;
    font-weight: bold;
}

.about {
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
}


.aside {
    max-width: 272px;
}

.top-title {
    font-size: 14px;
    color: #0f0d0e;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.top-title::after {
    content: "";
    display: block;
    position: relative;
    width: 67px;
    height: 4px;
    margin: 14px auto 29px auto;
    background: #b59f5b;
    opacity: 0.4;
}

.new-post {
    width: 100%;
    display: flex;
    margin-bottom: 21px;
}

.new-post-image {
    width: 70px;
}

.new-post-text {
    margin-left: 19px;
}

.new-post-title {
    font-size: 14px;
    width: 181px;
    line-height: 18px;
    text-transform: uppercase;
    vertical-align: top;
}

.new-link {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}



.search {
    display: flex;
    margin-top: 60px;
    margin-bottom: 62px;
}

.search-field {
    box-sizing: border-box;
    height: 50px;
    width: 222px;
    padding-left: 18px;
    padding-right: 18px;
    border: none;
    font-size: 13px;
    background-color: #f4f7f6;
}

.search-field:focus {
    outline: 1px solid #b59f5b;
}

.search-button {
    width: 49px;
    height: 49px;
    background-image: url("../svg/search.svg");
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #b59f5b;
    border: none;
}

.search-button:hover {
    background-color: #323232;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}



.mail {
    padding-bottom: 61px;
}

.mail-field {
    width: 100%;
    height: 50px;
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 17px;
    font-size: 13px;
    background-color: #f4f7f6;
    border: none;
}

.mail-field:focus {
    outline: 1px solid #b59f5b;
}

.mail-button {
    width: 100%;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    background-color: #b59f5b;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
}

.mail-button:hover {
    background-color: #323232;
}

.list-tags {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    padding-bottom: 61px;
}

.list-tags-item {
    height: 30px;
    margin-bottom: 12px;
}

.list-tags-link {
    text-decoration: none;
    text-transform: uppercase;

    font-size: 12px;
    font-weight: bold;
    border: 3px solid #ededed;
    color: #0f0d0e;

    margin-right: 4px;
    padding: 7px 15px;
}

.list-tags-link:hover {
    background-color: rgba(244, 243, 241, 0);
    border: 3px solid #b59f5b;
}

.list-themes {
    list-style-type: none;
}

.list-themes-item {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #eeeeee;
}

.list-themes-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #000;
}

.list-themes-link:hover {
    color: #b59f5b;
}

.theme-item-sup {
    font-size: 12px;
    font-weight: bold;
    color: #b59f5b;
    margin-left: 4px;
    vertical-align: top;
}



.products-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 65px 15px 75px 15px;
}

.products {
    display: flex;
    justify-content: space-between;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.product-text {
    flex-grow: 1;
    border: 3px solid #b59f5b;

    margin-top: -50px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.product-title {
    padding-top: 60px;
}

.product-title-link {
    font-size: 20px;
    text-decoration: none;
    color: #0f0d0e;
    font-weight: bold;
    text-transform: uppercase;
}

.about-product {
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
}

.about-tag-link {
    font-size: 14px;
    text-decoration: none;
    color: #b59f5b;
}

.shop-menu {
    padding-top: 10px;

    display: flex;
    justify-content: space-between;
}

.price {
    display: block;
    font-size: 12px;
    font-weight: bold;
    text-decoration: line-through;
}

.price__actual {
    font-size: 20px;
    font-weight: bold;
}

.shop-button {
    width: 140px;
    font-size: 14px;
    font-weight: bold;
    background-color: #b59f5b;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    text-align: center;
    line-height: 3;
}

.shop-button:hover {
    background-color: #323232;
}

.footer {
    max-width: 1200px;
    margin: auto;
}

.footer-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 73px;
}

.social-icons-list {
    display: flex;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #f4f7f6;
}

.social-icon-link {
    display: block;
    width: 20px;
    height: 20px;
}

.social-icon__dribbble {
    background-image: url("../svg/001-dribbble.svg");
    background-repeat: no-repeat;
}

.social-icon__pinterest {
    background-image: url("../svg/002-pinterest.svg");
    background-repeat: no-repeat;
}

.social-icon__tumblr {
    background-image: url("../svg/003-tumblr.svg");
    background-repeat: no-repeat;
}

.social-icons-item {
    list-style-type: none;
    margin-right: 30px;
}


.copyright-title {
    font-size: 12px;
    color: #999999;
    font-weight: bold;
    text-align: center;
    padding-bottom: 40px;
}



@media (min-width: 641px) and (max-width: 1199px) {
    .header {
        background-image: url(../images/tablet/banner-bg-tablet.jpg);
    }

    .page {
        margin-top: 50px;
    }

    .menu-list {
        display: none;
    }

    .header-wrapper-top {
        padding: 0 15px;
    }

    .menu-button {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }

    .menu-button-label {
        position: absolute;
        left: 0;
        top: 8px;
        background-color: #ffffff;
        width: 100%;
        height: 3px;
    }

    .menu-button:before,
    .menu-button:after {
        content: "";
        background-color: #ffffff;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
    }

    .menu-button:before {
        top: 0;
    }

    .menu-button:after {
        bottom: 0;
    }

    .logo-mobile-link {
        display: none;
    }

    .content {
        padding: 0 35px;
        margin-top: 50px;
    }

    .trends {
        flex-wrap: wrap;
    }

    .trend-card {
        width: calc(50% - 4px);
        min-height: 245px;
        margin-bottom: 4px;
    }

    .trend-card:nth-child(odd) {
        margin-right: 4px;
    }

    .trend-title-link {
        font-size: 17px;
    }

    .content-posts {
        flex-grow: 1;
        margin-right: 35px;
    }

    .post {
        flex-direction: column;
    }

    .post:not(:last-child) {
        margin-bottom: 40px;
    }

    .post-title {
        font-size: 17px;
    }

    .post-img {
        width: 100%;
    }

    .post-text {
        margin-left: 0;
    }

    .about {
        padding-bottom: 15px;
        border-bottom: 2px solid rgb(215, 213, 213);
    }

    .products {
        flex-wrap: wrap;
    }

    .product-card {
        width: calc((100% - 30px) / 2);
        margin-bottom: 30px;
    }

    .product-image {
        width: 100%;
        padding: 0 20px;
    }

    .product-card img {
        width: 100%;
    }

    .post-meta {
        margin-bottom: 40px;
    }

    .products-container {
        padding: 50px 35px 30px 35px;
    }

    .footer-wrapper {
        margin-bottom: 50px;
        padding: 0 35px;
    }

    .popup__close {
        width: 28px;
        height: 28px;
        top: -35px;
    }

    .popup-title {
        font-size: 18px;
    }

    .radio-text::before {
        width: 25px;
        height: 25px;
        background-size: 25px;
    }

    @media (orientation: landscape) {
        .trends {
            flex-wrap: nowrap;
        }
    }
}



@media (max-width: 640px) {
    .header {
        background-image: url(../images/mobile/banner-mobile.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-color: #000000;
        z-index: 0;
    }

    .menu-list {
        display: none;
    }

    .header-wrapper-top {
        padding: 0 15px;
    }

    .logo-link {
        display: none;
    }

    .logo-mobile-image {
        max-width: 305px;
        padding-top: 185px;
    }

    .logo-mobile-link {
        display: block;
        text-align: center;
    }

    .title {
        padding-top: 45px;
        padding-bottom: 220px;
        font-size: 26px;
    }

    .menu-button {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }

    .menu-button-label {
        position: absolute;
        left: 0;
        top: 8px;
        background-color: #ffffff;
        width: 100%;
        height: 3px;
    }

    .menu-button:before,
    .menu-button:after {
        content: "";
        background-color: #ffffff;
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
    }

    .menu-button:before {
        top: 0;
    }

    .menu-button:after {
        bottom: 0;
    }

    .trends {
        flex-wrap: wrap;
    }

    .trends-container {
        margin-top: 45px;
    }

    .trend-card {
        width: 100%;
        margin-right: 0;
        margin-bottom: 2px;
        min-height: 230px;
    }

    .trend-card__one,
    .trend-card__two,
    .trend-card__three {
        margin-right: 0;
    }

    .trend-title-link {
        font-size: 16px;
    }

    .content {
        margin-top: 45px;
    }

    .post {
        flex-direction: column;
    }

    .post:not(:last-child) {
        margin-bottom: 35px;
    }

    .post-title {
        font-size: 16px;
    }

    .about {
        font-size: 14px;
    }

    .post-img {
        width: 100%;
    }

    .post-text {
        margin-left: 0;
    }

    .post-meta {
        margin-bottom: 25px;
    }

    .post-description {
        margin-bottom: 25px;
    }

    .about {
        padding-bottom: 15px;
        border-bottom: 2px solid rgb(215, 213, 213);
    }

    .new-posts {
        margin-top: 45px;
    }

    .aside {
        max-width: 100%;
    }

    .search {
        width: 100%;
        margin-bottom: 45px;
    }

    .search-group {
        width: 100%;
    }

    .search-field {
        width: 100%;
    }

    .mail {
        padding-bottom: 35px;
    }

    .list-tags {
        padding-bottom: 35px;
    }

    .new-post-title {
        width: 100%;
    }

    .page {
        margin-top: 35px;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    .product-card {
        width: 100%;
        padding-bottom: 25px;
    }

    .product-image {
        width: 100%;
        padding: 0 20px;
    }

    .product-card img {
        width: 100%;
    }

    .products-container {
        padding-top: 30px;
        padding-bottom: 15px;
    }

    .products {
        flex-wrap: wrap;
    }

    .footer-wrapper {
        margin-bottom: 50px;
    }

    .popup-container {
        max-width: 329px;
        min-height: 540px;
        padding: 15px 27px 45px;
    }

    .popup__close {
        width: 28px;
        height: 28px;
        top: -35px;
    }

    .popup-title {
        font-size: 16px;
    }

    .radio-text::before {
        width: 25px;
        height: 25px;
        background-size: 25px;
    }

    @media (orientation: landscape) {
        .trend-card {
            width: calc(50% - 4px);
            margin-bottom: 2px;
        }

        .trend-card__one,
        .trend-card__three {
            margin-right: 2px;
        }
    }
}