@font-face {
    font-family: "Open Sans";
    src: url(/fonts/OpenSans-Regular.ttf), url(/fonts/OpenSans-Regular.woff), url(/fonts/OpenSans-Regular.woff2);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url(/fonts/OpenSans-Bold.ttf), url(/fonts/OpenSans-Bold.woff), url(/fonts/OpenSans-Bold.woff2);
    font-weight: 600;
    font-style: bold;
}

*,
*::after *::before {
    box-sizing: border-box;
}

ul {
    margin: 0;
    list-style: none;
}

li {
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.header {
    width: 100%;
    margin: 0 auto;
    background: url("../images/desk/banner-bg.jpg") no-repeat center;
    background-color: #000000;
    background-size: cover;
    position: relative;
    z-index: 0;
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.5;
    z-index: -1;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.logo {
    width: 179px;
}


.menu-list {
    display: flex;
}

.menu-item+.menu-item {
    padding-left: 20px;
}

.menu-link {
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
    transition: all .3s;
}

.menu-link:hover {
    text-decoration: underline;
}

.title-blog {
    margin: 0 auto;
    width: 700px;
    font-size: 45px;
    line-height: 75px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: center;
    padding-top: 120px;
    padding-bottom: 140px;
}


.card-trends {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-trend {
    width: 414px;
    height: 320px;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column-reverse;
    background-color: #eff6f1;
}

.card-trend+.card-trend {
    margin-left: 2px;
}

.card-trend-title {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
}

.card-trend-title:hover {
    color: #b59f5b;

}

.trend1 {
    background: url("../images/trend/trend1.jpg") no-repeat center center;
    flex: 1;
    background-size: cover;

}

.trend2 {
    background: url("../images/trend/trend2.jpg") no-repeat center center;
    flex: 1;
    background-size: cover;

}

.trend3 {
    background: url("../images/trend/trend3.jpg") no-repeat center center;
    flex: 1;
    background-size: cover;

}

.trend4 {
    background: url("../images/trend/trend4.jpg") no-repeat center center;
    background-size: cover;
    flex: 1;

}

.conteiner-trends {
    border: 3px solid #b59f5b;
    margin: 18px;
    padding: 30px;

}

.card-trend::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}

.health-inner {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.card {
    width: 355px;
    margin-top: 55px;
    display: flex;
}

.card-img {
    margin-right: 20px;
    width: 381px;
    background-color: #eff6f1;
}

.blog-category {
    display: flex;
}

.card-category {
    font-size: 14px;
    text-transform: uppercase;
    color: #b59f5b;
    font-weight: 700;
    font-family: "Open Sans";
    margin-bottom: 10px;
}

.card-category:hover {
    text-decoration: underline;
    color: #b59f5b;
}

.card-category+.card-category {
    padding-left: 15px;
}

.card-title {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
    margin-bottom: 30px;
}

.card-content {
    margin-bottom: 55px;
}

.card-title:hover {
    color: #b59f5b;
}

.card-status {
    display: flex;
    margin-bottom: 50px;
}

.card-date {
    padding-right: 10px;
    font-size: 12px;
    color: #888888;
    font-weight: 400;
    font-family: "Open Sans";
}

.card-author {
    font-size: 12px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
}

.card-content {
    width: 367px;
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 400;
    font-family: "Open Sans";
    vertical-align: sub;
}

.card-text {
    padding-bottom: 20px;
}

.aside-container {
    width: 270px;
}


.news-blog {
    text-align: center;
    padding-bottom: 25px;
    margin-top: 55px;

}


.news-blog::after {
    display: block;
    content: "";
    border-bottom: 3px solid #b59f5b;
    width: 66px;
    margin: 0 auto;
    padding-top: 10px;
}

.blog-title {
    font-size: 20px;
    line-height: 29px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
}

.minblog-title {
    font-size: 14px;
    line-height: 29px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
}

.news-card {
    display: flex;
}

.news-card+.news-card {
    padding-top: 20px;
}

.news-img {
    width: 70px;
    background-color: #f4f7f5;
}

.news-info {
    margin-left: 20px;
}

.news-title {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
}

.news-title:hover {
    color: #b59f5b;
}

.news-date {
    font-size: 12px;
    color: #888888;
    font-weight: 400;
    font-family: "Open Sans";
}

.search {
    margin-top: 55px;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.search-form {
    display: flex;
    align-items: flex-end;
}

.search-text {
    width: 222px;
    height: 48px;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans";
    background-color: #f3f7f5;
    padding: 0 15px;
    box-sizing: border-box;
    border: 1px solid #f3f7f5;
}

.search-text:focus {
    outline: 1px solid #b59f5b;
}

.search-button {
    width: 48px;
    height: 48px;
    background-color: #b59f5b;
}

.search-icon {
    width: 20px;
    height: 20px;
    text-align: center
}

.search-button:hover {
    background-color: #323232;
}

.subscription-text {
    width: 100%;
    height: 48px;
    font-size: 13px;
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans";
    background-color: #f4f7f6;
    padding: 0 15px;
    box-sizing: border-box;
}

.subscription-text:focus {
    outline: 1px solid #b59f5b;
}

.subscription-button {
    margin-top: 15px;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Open Sans";
    width: 270px;
    height: 48px;
    background-color: #b59f5b;
}

.subscription-button:hover {
    background-color: #323232;
}

.news-teg {
    font-size: 12px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
    line-height: 40px;
    display: flex;
    flex-wrap: wrap;
}

.news-teg__text {
    width: 86px;
    background-color: rgba(244, 243, 241, 0);
    border: 3px solid #eeeeee;
    padding: 5px 10px;
    margin-left: 5px;
}

.news-teg__text:hover {
    border: 3px solid #b59f5b;
}

.news-topic {
    font-size: 14px;
    line-height: 47px;
    color: #000000;
    font-weight: 700;
    font-family: "Open Sans";
}

.news-topics {
    border-bottom: 1px solid #eeeeee;
}

.news-numbers {
    font-size: 12px;
    line-height: 36px;
    color: #b59f5b;
    font-weight: 700;
    font-family: "Open Sans";
}

.news-topics:hover {
    color: #b59f5b;
}

.cards-shop {
    justify-content: space-between;
    display: flex;

}

.shop-content {
    width: 300px;



}

.cards-shops {
    text-align: center;
}

.shop-item {
    width: 300px;
    height: 204px;
    background-color: #eff6f1;

}

.shop-item-1 {
    background-image: url(/images/desk/shop-item-desk1.jpg);

}

.shop-item-2 {
    background-image: url(/images/desk/shop-item-desk2.jpg);

}

.shop-item-3 {
    background-image: url(/images/desk/shop-item-desk3.jpg);
}

.shop-title {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: start;
}

.shops-category {
    border: 3px solid #b59f5b;
    width: 347px;
    height: 267px;

}

.shop-text {
    width: 301px;
    height: 63px;
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: start;
}

.shop-link {
    color: #b59f5b;
}

.shop-link:hover {
    text-decoration: underline;
}

.shop-prices {
    display: flex;
    justify-content: flex-end;
}


.price-1 {
    font-size: 14px;
    line-height: 24px;
    text-decoration: line-through;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
}


.price-2 {
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: 700;
    font-family: "Open Sans";
}

.footer {
    margin-top: 55px;
}

.social {
    width: 100%;
    height: 83px;
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-link {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: block;
}

.icon-dribbble {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg);
}

.icon-pinterest {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg);
    margin-left: 25px;
}

.icon-tumblr {
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
    margin-left: 25px;
}

.copyrights {
    margin-top: 70px;
    margin-bottom: 40px;
    text-align: center;
}

.copyrights-title {
    font-size: 12px;
    color: #999999;
    font-weight: 700;
    font-family: "Open Sans";
}

@media (min-width: 641px) and (max-width:1199px) {
    .header {
        background: url("../images/tablet/banner-bg-tablet.jpg") no-repeat;
        background-size: cover;
    }

    .container {
        width: 690px;
    }

    .menu-list {
        padding-top: 3px;
    }

    .menu-list::after {
        display: block;
        content: "";
        border-bottom: 3px solid #ffffff;
        margin: 0 auto;
        width: 23px;
        height: 3px;
    }


    .menu-item {
        display: none;
    }

    .title-blog {
        margin: 0 auto;
        width: 620px;
        font-size: 40px;
        line-height: 55px;
    }

    .card {
        display: inline;
    }


    .card-trend {
        width: 386px;
        height: 248px;
        background-color: #eff6f1;
        margin-bottom: 2px;

    }


    .card-trend+.card-trend {
        margin-left: 0;
    }

    .card-trend-title {
        font-size: 17px;
        line-height: 22px;
    }

    .card-category {
        line-height: 37px;
        margin-bottom: 5px
    }

    .health-inner {
        margin-top: 37px;
    }

    .news-info {
        margin-left: 10px;
    }

    .card-img {
        margin-right: 0;
    }

    .shop-item-1 {
        background-image: url(/images/tablet/shop-item-tablet1.jpg);

    }

    .shop-item-2 {
        background-image: url(/images/tablet/shop-item-tablet2.jpg);
    }

    .shop-item-3 {
        background-image: url(/images/tablet/shop-item-tablet3.jpg);
    }


}

@media (max-width: 641px) {
    .header {
        background: url("../images/mobile/banner-mobile.jpg") no-repeat center;
        background-size: cover;
        min-height: 640px;
    }

    .menu-list {
        padding-top: 3px;
    }

    .menu-list::after {
        display: block;
        content: "";
        border-bottom: 3px solid #ffffff;
        margin: 0 auto;
        width: 23px;
        height: 3px;
    }

    .logo {
        padding-top: 230px;
        margin: 0 auto;
    }
}

